<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/common}">
    <head>
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">産業医一覧</title>
    </head>
    <body>
        <div layout:fragment="content" class="container" style="max-width: 72rem; padding-top: 2rem; padding-bottom: 2rem;">
            <div class="bg-light p-3 rounded shadow" style="gap: 12px;">
                <form th:action="@{/hyoji-search}" method="post">
                    <div class="d-flex flex-wrap justify-content-between align-items-center gap-3">
                        <div class="mx-auto mt-3" style="width: 60%;">
                            <!--会社名-->
                            <div class="d-flex align-items-center justify-content-start mb-3">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="companyCheck" name="companyCheck" th:checked="${companyCheck}" class="form-checkbox form-check-input">
                                    <!--Hidden CompanyCheck Tag-->
                                    <input type="hidden" id="hiddenCompanyCheck" name="hiddenCompanyCheck" th:value="${companyCheck == true ? 'true' : 'false'}">
                                    <label class="form-check-label text-black-50 fw-bold">会社名</label>
                                </div>
                                <input th:id="companyNameInput" th:name="companyNameInput" th:value="${companyNameInput}" type="text" class="form-control mx-2" placeholder="会社名を入力" style="width: 30%;">
                                <!--Hidden CompanyNameInput Tag-->
                                <input type="hidden" id="hiddenCompanyNameInput" name="hiddenCompanyNameInput" th:value="${companyNameInput}">
                                <button type="button" class="btn btn-outline-secondary fw-bold mx-2" onclick="searchCompanies()">
                                    検索
                                </button>
                                <!-- <select th:id="companyNameOutput" th:name="companyNameOutput" th:selected="${companyNameOutput}" class="form-select mx-2" style="width: 30%;">
                                    <option value="">会社名を選択</option>
                                    <option th:each="company : ${companies}" th:value="${company.kaisyaCode}" th:text="${company.kaisyaNameJpn}" th:selected="${company.kaisyaCode == companyNameOutput}"></option>
                                </select> -->
                                <select th:id="companyNameOutput" th:name="companyNameOutput" class="form-select mx-2" style="width: 30%;">
                                    <option value="">会社名を選択</option>
                                    <option th:each="company : ${companies}" th:value="${company.kaisyaCode}" th:text="${company.kaisyaNameJpn}" th:selected="${company.kaisyaCode == companyNameOutput}"></option>
                                </select>
                                <!--Hidden CompanyNameOutput Tag-->
                                <input type="text" id="hiddenCompanyNameOutput" name="hiddenCompanyNameOutput" th:value="${companyNameOutput}">
                            </div>
                            <div class="d-flex align-items-center justify-content-start mb-3">
                                <div class="form-check form-check-inline"> 
                                    <input type="checkbox" id="soshikiCheck" name="soshikiCheck" th:checked="${soshikiCheck}" class="form-checkbox form-check-input">
                                    <!--Hidden SoshikiCheck Tag-->
                                    <input type="hidden" id="hiddenSoshikiCheck" name="hiddenSoshikiCheck" th:value="${soshikiCheck == true ? 'true' : 'false'}">
                                    <label class="form-check-label text-black-50 fw-bold">組織名</label>
                                </div>
                                <input th:id="soshikiNameInput" th:name="soshikiNameInput" th:value="${soshikiNameInput}" type="text" class="form-control mx-2" placeholder="組織名を入力" style="width: 30%;">
                                <!--Hidden SoshikiNameInput Tag-->
                                <input type="hidden" id="hiddenSoshikiNameInput" name="hiddenSoshikiNameInput" th:value="${soshikiNameInput}">
                                <button type="button" class="btn btn-outline-secondary fw-bold mx-2" onclick="searchSoshikis()">
                                    検索
                                </button>
                                <select th:id="soshikiNameOutput" th:name="soshikiNameOutput" class="form-select mx-2" style="width: 30%;">
                                    <option value="">組織名を選択</option>
                                    <option th:each="soshiki : ${soshikis}" th:value="${soshiki.soshikiCode}" th:text="${soshiki.soshikiNameJpn}" th:selected="${soshiki.soshikiCode == soshikiNameOutput}"></option>
                                </select>
                                <!--Hidden SoshikiNameOutput Tag-->
                                <input type="hidden" id="hiddenSoshikiNameOutput" name="hiddenSoshikiNameOutput" th:value="${soshikiNameOutput}">
                            </div>
                            <!--権限区分-->
                            <div class="mt-4">
                                <div class="form-check form-check-inline">
                                    <input id="kengenCheck" name="kengenCheck" type="checkbox" class="form-checkbox form-check-input" th:checked="${kengenCheck}">
                                    <!--Hidden KengenCheck Tag-->
                                    <input type="hidden" id="hiddenKengenCheck" name="hiddenKengenCheck" th:value="${kengenCheck == true ? 'true' : 'false'}">
                                    <span class="form-check-label text-black-50 fw-bold">権限区分</span>
                                </div>
                                <div class="mt-2">
                                    <div class="form-check form-check-inline" style="margin-right: 5px;">
                                        <input type="radio" class="form-check-input" id="kengenKubun1" name="kengenKubun" value="1" th:checked="${kengenKubun == '1'}">
                                        <label class="form-check-label text-black-50 fw-bold">全社</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="kengenKubun2" name="kengenKubun" value="2" th:checked="${kengenKubun == '2'}">
                                        <label class="form-check-label text-black-50 fw-bold">自社</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-outline-secondary fw-bold" style="margin-right: 5px;">
                            表示する
                        </button>
                        <button type="button" class="btn btn-outline-success fw-bold" id="moveCreateBtn">
                            追加する
                        </button>
                    </div>
                </form>
            </div>
            <div class="table-responsive mt-3">
                <table class="table table-sm table-bordered table-hover text-center align-middle">
                    <thead>
                        <tr class="table-light">
                            <th scope="col">No.</th>
                            <th scope="col">利用者ID</th>
                            <th scope="col">氏名</th>
                            <th scope="col">会社名</th>
                            <th scope="col">組織名</th>
                            <th scope="col">権限区分</th>
                            <th scope="col">備考</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user, iterStat : ${users}">
                            <td class="fw-bold text-black-50" th:text="${iterStat.index + 1}"></td>
                            <td class="fw-bold text-black-50" th:text="${user.userId}"></td>
                            <td class="fw-bold text-black-50" th:text="${user.name}"></td>
                            <td class="fw-bold text-black-50" th:text="${user.companyName}"></td>
                            <td class="fw-bold text-black-50" th:text="${user.organizationName}"></td>
                            <td class="fw-bold text-black-50" th:switch="${user.kengenKubun}">
                                <span class="fw-bold text-black-50" th:case="1">全社</span>
                                <span class="fw-bold text-black-50" th:case="2">自社</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-info fw-bold moveUpdateBtn" th:attr="data-userid=${user.userId}">
                                    変更
                                </button>
                                <button type="button" class="btn btn-outline-danger fw-bold deleteBtn" th:attr="data-id=${user.userId}">
                                    削除
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script th:src="@{/js/searchCompany.js}"></script>
        <script th:src="@{/js/searchSoshiki.js}"></script>
        <script th:src="@{js/moveCreateBtn.js}"></script>
        <script th:src="@{js/moveUpdateBtn.js}"></script>
        <script th:src="@{js/deleteBtn.js}"></script>
    </body>
</html>