<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/common}">
    <head>
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">産業医情報編集</title>
    </head>
    <body>
        
            <div layout:fragment="content" class="container" style="max-width: 72rem; padding-top: 2rem; padding-bottom: 2rem;">
                <h1 class="text-center text-3xl font-bold mb-4">産業医情報編集</h1>
                <div class="bg-light p-3 rounded shadow" style="gap: 12px; max-width: 70%; margin: 0 auto;">
                    <div class="d-flex flex-wrap justify-content-between align-items-center gap-3">
                        <div class="mx-auto mt-3" style="width: 50%;">
                            <div class="d-flex align-items-center justify-content-center mb-3">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label text-black-50 fw-bold mb-2">社員ID</label>
                                    <input name="userId" th:value="${user.userId}" type="text" class="form-control" style="width: 200px;" readonly>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label text-black-50 fw-bold mb-2">氏名</label>
                                    <input name="name" th:value="${user.name}" type="text" class="form-control" style="width: 200px;">
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-3">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label text-black-50 fw-bold mb-2">
                                        会社名
                                    </label>
                                    <select class="form-control" style="width: 200px;" id="companyName" name="companyName">
                                        <option th:value="${user.companyName}" th:text="${user.companyName}"></option>
                                    </select>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label text-black-50 fw-bold mb-2">
                                        組織名
                                    </label>
                                    <select class="form-control" style="width: 200px;">
                                        <option th:value="${user.organizationName}" th:text="${user.organizationName}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start mb-3">
                                <div class="form-check form-check-inline" style="margin-left: -25px;">
                                    <input type="checkbox" class="form-checkbox form-check-input" checked>
                                    <span class="form-check-label text-black-50 fw-bold">権限区分</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start mb-3" style="margin-left: -25px;">
                                <div class="form-check form-check-inline" style="margin-right: 5px;">
                                    <input type="radio" class="form-check-input" th:checked="${user.kengenKubun == 1}">
                                    <label class="form-check-label text-black-50 fw-bold">全社</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" th:checked="${user.kengenKubun == 2}">
                                    <label class="form-check-label text-black-50 fw-bold">自社</label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <button type="button" class="btn btn-outline-primary fw-bold" style="margin-right: 10px;">編集</button>
                                <button type="button" class="btn btn-outline-dark fw-bold" id="cancelUpdateBtn">戻る</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <script th:src="@{js/backToListBtn.js}"></script>
        <script th:src="@{js/cancelUpdateBtn.js}"></script>
    </body>
</html>