<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptsol.stress_system.mapper.HyojiBtnMapper">
    <resultMap id="HyojiSearchResultMap" type="com.ptsol.stress_system.model.HyojiSearch">
        <result property="userId" column="USER_ID"/>
        <result property="name" column="name"/>
        <result property="companyName" column="company_name" />
        <result property="organizationName" column="organization_name" />
        <result property="kengenKubun" column="KENGEN_KUBUN"/>
    </resultMap>
    <select id="hyojiSearchUsers" resultMap="HyojiSearchResultMap">
        <!--HyojiBtnMapper.javaのメソッドについてSQLクエリ定義
        会社名、組織名、権限区分を条件にしてユーザーリストを取得
        そして、LeftJoinを使用して、関連会社名、組織名を取得する-->
<!--        SELECT-->
<!--            u.USER_ID, u.name, u.KENGEN_KUBUN, k.KAISYA_NAME_JPN as company_name, t.SOSHIKI_NAME_JPN as organization_name-->
<!--            FROM USER u-->
<!--            LEFT JOIN KAISYA_MST k ON u.KAISYA_CODE = k.KAISYA_CODE-->
<!--            LEFT JOIN TAISYO_SOSHIKI t ON u.SOSHIKI_CODE = t.SOSHIKI_CODE-->
<!--        WHERE-->
<!--            (#{companyName} IS NULL OR k.KAISYA_NAME_JPN = #{companyName})-->
<!--            AND (#{soshikiName} IS NULL OR t.SOSHIKI_NAME_JPN = #{soshikiName})-->
<!--            AND (#{kengenKubun} IS NULL OR u.KENGEN_KUBUN = #{kengenKubun})-->
        SELECT
            u.USER_ID, u.name, u.KENGEN_KUBUN, k.KAISYA_NAME_JPN as company_name, t.SOSHIKI_NAME_JPN as organization_name
            FROM USER u
            LEFT JOIN KAISYA_MST k ON u.KAISYA_CODE = k.KAISYA_CODE
            LEFT JOIN TAISYO_SOSHIKI t ON u.SOSHIKI_CODE = t.SOSHIKI_CODE
        <!--WHERE추가해서 하나하나씩 넣어가면서 디버깅 해보자. 오늘 종료 -->
    </select>
</mapper>